*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(144, 200, 204);
    text-align: center;
} 

.cont{
    height: 70vh;

    display: flex;
    
    align-items: center;
    justify-content: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width : 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0,0,0,0.8 );
    font-size: 8vmin;
    background-color: #fff;
    color: black;
}  

#rst-btn,#new-btn{
    font-size:1.5rem ;
    padding: 1rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

.winner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    height: 100vmin;
}

.hide{
    display: none;
}